@page
@{
    byte minValue = byte.MinValue;
    byte maxValue = byte.MaxValue;
}
<div>
    <h1>Tipos Numéricos</h1>
    <p>
        Byte Min: @minValue
    </p>
    <p>
        Byte Max: @maxValue
    </p>
    <p>
        Short Min: @short.MinValue
    </p>
    <p>
        Short Max: @short.MaxValue
    </p>
</div>